.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'title title title'
    'artMain artMain artMain'
    'outher outher outher';
  align-self: center;
  justify-content: center;
  margin: 0 25rem 0;

}

.title {
  grid-area: title;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 15rem;

  gap: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  padding-bottom: 5rem;
  margin-left: 14rem;
}

.artMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'art1 art2 art3'
    'art4 art5 art6';
  grid-area: artMain;
  gap: 7rem;
}

.art1 {
  grid-area: art1;
}

.art2 {
  grid-area: art2;
}

.art3 {
  grid-area: art3;
}

.art4 {
  grid-area: art4;
}

.art5 {
  grid-area: art5;
}

.art6 {
  grid-area: art6;
}

.outher {
  grid-area: outher;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  gap:1rem;
}



.container .title h3 {
  color: #ff5b50;
}

.container .title h3:first-child {
  color: #ffffff;
}

.art1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 150px;

  background: #252525;
  color: #ff5b50;
  border-radius: 5px;
  gap: 1rem;
}

.artInf span:first-child,
.artInf1 {
  color: #ffffff;

}

.art1:hover {
  background-color: #ff5b50;
  color: #ffffff;
}

.artInf {
  display: flex;
  flex-direction: column;
}

.artInf1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.artInf2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}